
//////////////
//Colors
/////////////
$color-black:           #000;
$color-white:           #fff;
$primary-color:      #2e878a;
$color-sky:          #00aae7;

//////////////
//Other
/////////////
$duration:                 0.3s;