<!doctype html>
<html lang="ru">
    <head>
        <title>{{ title | default() }}</title>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

        <meta name="apple-mobile-web-app-status-bar-style" content="#004083">
        <meta name="msapplication-navbutton-color" content="#004083">
        <meta name="msapplication-TileColor" content="#004083">
        <meta name="theme-color" content="#004083">

        <link rel="icon" type="image/svg+xml" href="assets/favicon.svg">
        <link rel="shortcut icon" href="favicon.ico">
    </head>
    <body>


        <div class="wrap">
            {% block wrap %}

                {# <div class="main"> #}
                    {% block body %}
                    
                    {% endblock %}
                {# </div> #}

            {% endblock %}
        </div>
    </body>

</html>