{% extends '.././inc/_.njk' %}



{% block body %}

    {% include "../parts/header.njk" %}


    <div class="container">
        <h1>Галерея</h1>
        <div id="gallery"></div>
    </div>

    {% include "../parts/footer.njk" %}

{% endblock %}